{% csrf_token %}
<h1>Lista de productos</h1>
<div id="form_productos"></div>
<hr>
<div id="grid_productos"></div>
<hr>
<script type="text/javascript">
    ffdata = new FormData();
    ffdata.append('model_app_name', 's_manage');
    ffdata.append('model_name', 'Product');
    ffdata.append('ffields', 'category__name');
    ffdata.append('ffields', 'family__name');
    ffdata.append('ffields', 'brand__name');
    axios.post('{% url "get_model" %}', 
        ffdata, 
        {
            headers: {
                'X-CSRFToken': uiR.getCookie('csrftoken')
            } 
        }).then((rsp)=>{
            data = rsp.data;
            console.log(data);
            rr = uiR.renderTable(data.records)
            document.querySelector('#grid_productos')
                    .innerHTML = rr.outerHTML;

    }).then(()=>{
        uiR.searchModel(document.querySelector('#Product input[name=name]'), 
                        's_manage', 'Product',
                        '{% url "q_model" %}',3
                        )
    })
    //create the form for the model
    sdata = new URLSearchParams();
    sdata.append('model_app_name', 's_manage');
    sdata.append('model_name', 'Product');
    axios.get('{% url "s_model" %}',{ params: sdata })
         .then(rsp=>{
            uiR.renderForm('Product', rsp.data.mform, 'form_productos')
         }).catch(err=>{
            console.log(err)
         })
    
</script>
