{% csrf_token %}
<h1 class="text text-center text-decoration-underline">Products</h1>
<div id="form_products"></div>
<hr>
<div id="grid_products"></div>
<hr>
<script type="text/javascript">
    prd_ctx = {
        model_app_name: 's_manage',
        model_name: 'Product',
        d_url: '{% url "s_model" %}',
        g_url: '{% url "get_model" %}',
        q_url: '{% url "q_model" %}',
        fcoint: 'form_products',
        fid: `F${this.model_name}`,
        gcoint: '#grid_products',
        width: '100%',
        height: '600px',
        mlen: 3,
        ffor: [
            'category__name',
            'family__name',
            'brand__name'
        ],
        hiddens: ['category', 'family', 'brand', 'pk'],
        crname: {
            name: 'Name',
            code: 'Cod',
            pack: 'Pack',
            category__name: 'Cat',
            family__name: 'Fam',
            brand__name: 'Brand',
            id: 'ID'
        }
    }
    uiR.get_lmodel(
        {
         model_app_name: prd_ctx.model_app_name,
         model_name: prd_ctx.model_name,
         ffor: prd_ctx.ffor,
         d_url: prd_ctx.d_url,
         g_url: prd_ctx.g_url,
         gcoint: prd_ctx.gcoint,
         width: prd_ctx.width,
         height: prd_ctx.height,
         hiddens: prd_ctx.hiddens,
         crname: prd_ctx.crname,
        }
    )
    //create the form for the model
    uiR.formalize_model({
        model_app_name: prd_ctx.model_app_name,
        model_name: prd_ctx.model_name,
        fid: prd_ctx.fid,
        fcoint: prd_ctx.fcoint,
        d_url: prd_ctx.d_url,
        q_url: prd_ctx.q_url,
        g_url: prd_ctx.g_url,
        ffor: prd_ctx.ffor,
        gcoint: prd_ctx.gcoint,
        hiddens: prd_ctx.hiddens,
        crname: prd_ctx.crname,
    })
</script>
